@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
    margin: 0;
    /*font-family: "Nanum Pen Script", 'Yeon Sung', serif;*/
    font-size: 32px;
}
